<ion-content>
	<div class="header container">
		<ion-button (click)="closeModal()" mode="ios" fill="clear" size="large">
			<ion-icon name="close-outline"></ion-icon>
		</ion-button>
	</div>
	<ion-card mode="ios">
		<ion-card-content>
			<p>Protect yourself and others around you by knowing the facts related to this virus and taking appropriate precautions. Follow the advice given by your local public health agency.<br><b>To prevent the spread of COVID-19:</b></p>
			<ul>
				<li>Clean your hands regularly. Use soap and water, or an alcohol-based hand sanitizer.</li>
				<li>Always keep a safe distance from people who cough or sneeze.</li>
				<li>Don't touch your eyes, nose or mouth.</li>
				<li>When you cough or sneeze, cover your mouth and nose with your arms or tissue.</li>
				<li>Stay at home if you feel unwell.</li>
				<li>If you have a fever, cough, or have difficulty breathing immediately seek medical help. Contact first.</li>
				<li>Follow the directions of your local health authority.</li>
			</ul>
			<p>Avoiding unnecessary visits to medical facilities allows the health system to operate more effectively. This action will protect you and others.</p>
		</ion-card-content>
	</ion-card>
</ion-content>
